@{
    ViewBag.Title = "Home Page";
}

<div class="page-content-wrapper">
    <header>
        <h1>Sample Header</h1>
    </header>
    <div class="article-wrapper">
       <p>
           Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година, когато неизвестен печатар взема няколко печатарски букви и ги разбърква, за да напечата с тях книга с примерни шрифтове. Този начин не само е оцелял повече от 5 века, но е навлязъл и в публикуването на електронни издания като е запазен почти без промяна. Популяризиран е през 60те години на 20ти век със издаването на Letraset листи, съдържащи Lorem Ipsum пасажи, популярен е и в наши дни във софтуер за печатни издания като Aldus PageMaker, който включва различни версии на Lorem Ipsum.
       </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec bibendum turpis, a efficitur sem. 
            Curabitur sodales turpis at turpis tempus dignissim vel pellentesque justo. Vestibulum ac neque eget libero sagittis pharetra eget ut urna. 
            Donec posuere magna nec nisl consequat, sit amet semper orci maximus. Fusce pretium ante a sapien aliquam lobortis. 
            Maecenas tellus massa, imperdiet a purus quis, gravida congue tellus. Fusce vehicula ut nunc vitae consequat. 
            Nunc placerat est at faucibus vulputate. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Morbi placerat mi leo, non cursus leo ultricies pulvinar. Pellentesque at augue tempus, bibendum diam nec, sodales neque. 
            Praesent tellus risus, sagittis quis metus sed, sodales congue ante. Sed congue sapien metus, sed bibendum risus tincidunt a. 
            Curabitur faucibus convallis nunc, eu convallis purus sagittis id. Cras varius sed lacus ut semper.
        </p>
        <p>
            Cras eu cursus nunc. Curabitur laoreet orci in ornare commodo. Pellentesque ultrices risus metus, quis dapibus enim viverra at. 
            Fusce vulputate sapien scelerisque, vulputate leo elementum, tristique nisl. Duis consequat odio non odio aliquet, eu ornare elit pretium. 
            Sed tempus sed arcu ac porttitor. Nam nec posuere mi. Sed maximus, nulla ac pellentesque pellentesque, elit turpis pharetra dui, 
            vel varius nisl arcu sit amet diam. Etiam tincidunt fermentum ligula, nec auctor augue mollis ac. Donec id ex eget libero auctor pretium 
            finibus ut arcu. Fusce quis pretium neque. Vestibulum laoreet nunc diam, nec dignissim dui eleifend et. Proin finibus, ex vitae dictum varius, 
            arcu dolor efficitur mauris, sit amet pulvinar odio quam placerat erat. Suspendisse ut vestibulum tortor.
        </p>
        <p>
            Morbi sed pharetra nunc, nec cursus neque. Praesent sodales, odio non aliquet mattis, libero dolor pretium enim, id porta nunc nulla at nisl. Maecenas convallis ex arcu, vel congue nisi pellentesque quis. Fusce purus sem, dignissim non quam eu, ultrices ullamcorper quam. Aenean non sem ac sapien sollicitudin malesuada. Suspendisse blandit finibus velit eget malesuada. Nam et tellus ac enim dignissim porttitor.
        </p>
        <p>
            Quisque augue orci, maximus sit amet congue vitae, venenatis a velit. Aliquam justo purus, bibendum non quam eget, vehicula gravida nulla. Etiam dignissim ac dolor nec imperdiet. Vestibulum pretium tempus nibh, sit amet laoreet enim placerat a. Suspendisse dictum dapibus nibh, id porttitor neque lobortis non. Cras sollicitudin ex ut nisi vestibulum malesuada. Sed fringilla vestibulum elit id feugiat. Duis placerat ligula et odio porttitor convallis. Nulla varius, velit accumsan scelerisque scelerisque, dolor est varius turpis, quis lobortis justo lectus vitae justo. Quisque at vehicula sem, vel imperdiet ipsum. Nam et mi sit amet orci consequat eleifend non eget purus.
        </p>
        <p>
            Aenean ac erat vel magna porta commodo. Integer non velit nibh. Fusce a condimentum tellus, eu consequat dui. Fusce quis augue est. Curabitur eu mi odio. Maecenas eget porttitor neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed tempus ipsum in libero lacinia, eu tempus neque sodales. Nunc posuere non risus in lacinia. Phasellus id facilisis nisi. Vestibulum fermentum purus eros, sed faucibus nunc pharetra vel.
        </p>
    </div>
</div>

